<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "GOOW", root_path, id: "logo" %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_id? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" date-toggle="dropdpwn">
                アカウント<b class="caret"></b>
              </a>